@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');
html{
  font-size: 10px;
}
.best-product-nk{
  /* background-color: salmon; */
  position: relative;
  margin: 0 auto;
  height: 400px;
}
h2{
  color: #343a40;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 0;
}
.swipe-wrap-nk{
  /* background-color: rgb(236, 234, 220); */
  width: 200vw;
  /* position: absolute; */
  position: relative;
  /* left: 0;
  top: 0; */
  /* transition: left 0.5s ease-out;  */
  display: flex;
  overflow: hidden;
  transition: all 0.7s;
  
}
.visible-box-nk{
  /* background-color: rosybrown; */
  /* position: relative; */
  width: 100vw;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.invisible-box-nk{
  display: flex;
  /* background-color: red; */
  align-items: center;
  padding-right: 20px;
  gap: 20px;

  /* transform: translateX(-100vw) */
}
/* .best-product-nk .swipe-wrap{
  width: 1352px;
  transform: translate3d(0px, 0px, 0px);
} */
a{
  text-decoration: none;
}
article{
  width: 250px;
  border-radius: 4px;
}
article:hover{
  box-shadow: 0px 0px 10px 2px rgb(215, 215, 215);
  transition: 0.3s;
  transform: translate(0px,-2px);
}
article .card-img-nk{
  width: 100%;
  height: 166px;
  vertical-align: bottom;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
/* article .btn-favorite-nk{
  position: absolute;
  width: 24px;
  height: 24px;
  top: 20px;
  right: 20px;
  background-color: none;
} */
article .favorite-nk{
  position: absolute;
  width: 24px;
  height: 24px;
  top: 10px;
  right: 10px;
  background-color: none;
  z-index: 1;
}
article .text-box-nk{
  position: relative;
  width: 100%;
  height: 145px;
  padding: 10px 16px 16px;
  background-color: #fff;
  border: 1px solid #d1d4d7;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
}
article .text-box-nk .type-region-nk{
  margin: 1px;
  font-family:'Noto Sans KR', sans-serif;
  font-size: 12px;
  color: #848c94;
  max-width: 100%;
  overflow: hidden;
}
article .text-box-nk .title-nk{
  font-size: 15px;
  line-height: 1.47;
  color: #343a40;
  font-weight: 600;
  margin: 0;
  width: 100%;
}
article .text-box-nk .footer-nk p{
  display: inline-block;
  position: absolute;
  color: #848c94;
}
article .text-box-nk .footer-nk .price-nk{
  top: 80%;
  left: 7%;
  font-size: 13px;
  font-weight: 700;
}
article .text-box-nk .footer-nk .headcount-nk{
  font-size: 12px;
  top: 80%;
  left: 28%;
}
article .text-box-nk .add-info p{
  display: inline-block;
  position: absolute;
} 
article .text-box-nk .add-info .add-info-text-nk{
  position: absolute;
  top: 80%;
  right: 5%;
  font-size: 12px;
  color: #848c94;
}
article .text-box-nk .add-info .add-info-img{
position: absolute;
top: 78%;
right: 23%;
}
.btn-arrow-nk{
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgb(210, 210, 210);
  border: 1px solid lightgray;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 43%;
  /* text-align: center; */
  
  /* transform: translateY(-50%); */
  /* transition: .2s; */
  width: 40px;
  z-index: 10;
  cursor: pointer;
}
.btn-arrow-nk:hover{
  box-shadow: 0px 3px 5px 2px rgb(191, 189, 189);
  transition: 0.3s;
  
  /* transform: translate(0px,-2px); */
}
.btn-left-arrow-nk{
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgb(210, 210, 210);
  border: 1px solid lightgray;
  height: 40px;
  position: absolute;
  /* text-align: center; */
  width: 40px;
  z-index: 10;
  cursor: pointer;
}
.brn-left-arrow-nk:hover{
  box-shadow: 0px 3px 5px 2px rgb(191, 189, 189);
  transition: 0.3s;
}