body{
  background-color: white;
}
header{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
  color: rgb(102, 109, 117);
  border-bottom: 1px solid lightgray;
}
header .logo{
  display: inline-block;
  width: 128px;
  vertical-align: middle;
}
button{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
header .logo-search-login-container .nav-button{
  float: right;
  border: 0;
  background-color: transparent;
}
