.for-interval{
  width: 100%;
  height: 65px;
}
.all{
  width: 100%;
  height: 363px;
}
.div-for-h2{
  width: 100%;
  height: 27px;
  margin-bottom: 10px;
}
.h2-title{
  width: 1080px;
  height: inherit;
  margin:0 auto;
  padding-left: 13px;
}
.h2-title h2{
  font-size: 22px;
  line-height: inherit;
  color: #343a40;;
  font-weight: 300;
  font-family: 'Noto Sans KR', sans-serif;
}
.div-for-article{
  width: 100%;
  height: 321px;
}
.outer-visible-4-article-area{
  width: 1080px;
  height: 321px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.btn-next, .btn-prev{
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgb(210, 210, 210);
  border: 1px solid lightgray;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.btn-next:hover, .btn-prev:hover{
  box-shadow: 0px 3px 5px 2px rgb(191, 189, 189);
  transition: 0.3s;
}
.btn-prev{
  top: 45%;
  left: -1%;
  z-index: 1;
}
.btn-next{
  top: 45%;
  right: -1%;
  z-index: 1;
}
.visible-4-area{
  width: 1080px;
  height: 321px;
  z-index: 1;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
.all-8-area{
  width: 2160px;
  height: 321px;
  display: flex;
  margin-left: 10px;
  gap: 20px;
}

/* 여기부터 개별 article 영역 여기부터 개별 article 영역*/
/* 여기부터 개별 article 영역 여기부터 개별 article 영역*/

a{
  text-decoration: none;
}
.all-8-area article{
  width: 250px;
  height: 311px;
  margin: auto 0;
  border-radius: 4px;
}
.article-nk{
  position: relative;
}
article:hover{
  box-shadow: 0px 0px 10px 2px rgb(215, 215, 215);
  transition: 0.3s;
  transform: translate(0px,-2px);
}
/* .btn-f{
  width: 24px;
  height: 24px;
} */
.favorite-nk{
  position: absolute;
  top: 10px;
  right: 10px;
  /* background-color: transparent; */
  /* border-style: none; */
  cursor: pointer;
}
/* .favorite-nk:hover{
  box-shadow: inset 10px 10px 10px red; 
  background-image: url(../images/red_favorite.svg);
}  */
article .card-img-nk{
  width: 100%;
  height: 166px;
  vertical-align: bottom;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

article .text-box-nk{
  position: relative;
  width: 100%;
  height: 145px;
  padding: 10px 16px 16px;
  background-color: #fff;
  border: 1px solid #d1d4d7;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
}
article .text-box-nk .type-region-nk{
  margin: 1px;
  font-family:'Noto Sans KR', sans-serif;
  font-size: 12px;
  color: #848c94;
  max-width: 100%;
}
article .text-box-nk .title-nk{
  font-size: 15px;
  line-height: 1.47;
  color: #343a40;
  font-weight: 600;
  margin: 0;
  width: 100%;
}
article .text-box-nk .footer-nk{
  display: flex;
  position: absolute;
  color: #848c94;
  top: 80%;
}
article .text-box-nk .footer-nk .price-nk{
  font-size: 13px;
  font-weight: 700;
}
article .text-box-nk .footer-nk .headcount-nk{
  font-size: 12px;
  margin-left: 2px;
}
article .text-box-nk .add-info p{
  display: inline-block;
  position: absolute;
} 
article .text-box-nk .add-info .add-info-text-nk{
  position: absolute;
  top: 80%;
  right: 5%;
  font-size: 12px;
  color: #848c94;
}
article .text-box-nk .add-info .add-info-img{
position: absolute;
top: 78%;
right: 23%;
}

/* 여기서부터 아티클 이후 영역입니다 */
/* 여기서부터 아티클 이후 영역입니다 */
.sns-box{
  width: 1055px;
  height: 220px;
  background-color: #F8F9FA;
  margin: 20px auto 0 auto;
  display: flex;
  justify-content: center;
  gap: 5%;
  border: 1px solid #d1d4d7;
  box-sizing: border-box;

}
.sns-title-wrap{
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}  
.sns-box img{
}
.sns-box a{
  color: #2b96ed;
  font-size: 14px;
  font-weight: 600;
  transform: translateX(15px);
}
.sns1, .sns2, .sns3{
  width: 25%;
  box-sizing: border-box;
}
.sns-box p{
  color: rgb(102, 109, 117);
  line-height: 25px;
}
footer{
  margin-top: 200px;
  color: rgb(102, 109, 117);
  /* border-top: 1px solid #d1d4d7; */
}
footer{
  border-top: 1px solid #d1d4d7;
  position: relative;
}
.inner{
  width: 100%;
  height: 200px;
  margin: 0 70px;
  padding: 50px 0;
  font-size: 14px;
  position: absolute;
}
.inner .inner-top{
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.top-textbox1{
  width: 50%;
}
.top-textbox1 p, .textbox2-menu p{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.top-textbox1 li{
  line-height: 25px;
}
.top-textbox1 button{
  width: 110px;
  height: 40px;
  margin-top: 10px;
  /* border-radius: 4px; */
}
.top-textbox1 button:hover{  
  box-shadow: 0px 0px 5px 0px rgb(215, 215, 215);
  transition: 0.3s;
  cursor: pointer;
}
.top-textbox2{
  width: 50%;
  display: flex;
}
.textbox2-menu{
  width: calc(33.3333%);
}